<header class="bg-indigo-600 p-4 shadow-md">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
     
      <h1 class="text-white text-2xl font-semibold"><a routerLink="/home" class="text-white hover:text-indigo-300">
        My Crud
      </a></h1>
  
     
      <nav>
        <ul class="flex space-x-6">
          <li>
            <a routerLink="/add" routerLinkActive="text-white hover:text-indigo-300" class="text-white hover:text-indigo-300">
              Add Item
            </a>
          </li>
          <li>
            <a routerLink="/home" routerLinkActive="text-white hover:text-indigo-300" class="text-white hover:text-indigo-300">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/favorites" routerLinkActive="text-white hover:text-indigo-300" class="text-white hover:text-indigo-300">
              Favorites
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
